/* Common */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.navbar{
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:30px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.5px 1.5px 2.6px;; */
}
.navbar .brand{
  font-size: 25px;
}
.navbar .menu p{
  font-size: 18px;
  font-weight: 600; 
  padding: 8px 25px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.navbar .menu p:hover{
  transform: translate(0px , 1px);
  cursor: pointer;
}
.anchor{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
/* ------ */
/* ----- */
main .banner{
  padding: 10px 60px;
  position: relative;
 
  
}
.image{
  background-image: linear-gradient(
    to right,
    rgb(12, 216, 199),
    rgba(12, 216, 199, 1),
    rgba(12, 216, 199, 0.2),
    rgba(12, 216, 199, 0)
 ),
  url("https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  border-radius: 10px;
  width: 100%;
  background-position: center;
  
  height: 500px;
  object-position: center;
}
.image .image-overlay{
 
  padding-top: 70px;
  padding-left: 100px;
}
.image .image-overlay h1{
  font-size: 50px;
  font-weight: 700;
  color: rgb(20, 19, 19);
  
 
}
.image .image-overlay p{
  font-size: 18px;
  margin-top: 8px;
  
}

.banner .category-bar{
  position: absolute;
  background-color: white;
  margin-left: 6%;
  width: 80%;
  bottom: -90px;  
  height: 180px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 
}

.banner .category-bar .facilities h3{
  margin-bottom: 15px;
  font-size: 24px;
}
.banner .category-bar .facilities{
  
  justify-content: space-evenly;
}
.banner .category-bar .facilities .icon{
  height: 40px;
  width: 40px;
  object-fit: cover;
  padding:10px;
  border: solid 1px rgb(216, 216, 216);
  margin:  0 25px 0px 0px;
  border-radius: 5px;
  box-shadow: rgba(179, 177, 177, 0.12) 0px 1px 3px, rgba(192, 189, 189, 0.24) 0px 1px 2px;
}
.banner .category-bar .facilities .icon:hover{
  transform: translate(0px , 1px);
  cursor: pointer;
}

.banner .category-bar .for-you h3{
  font-size: 24px;
margin-bottom: 15px;
}
.banner .category-bar .for-you p{
  font-size: 14px;
  display: inline;
  color: rgb(106, 107, 107);
  font-weight: 600;
}

.banner .category-bar .for-you button{
  padding: 8px 30px;
  margin-top: 5px;
  background-color: white;
  border:solid 1px rgb(179, 177, 177);
  border-radius: 5px;
  color: rgb(106, 107, 107);
}
.banner .category-bar .for-you button:hover{
  cursor: pointer;
  /* background-color: aqua; */
}
.banner .category-bar .search-bar h3{
  margin-bottom: 15px;
  font-size: 24px;
}


.banner .category-bar .search-bar select{
  width:250px;
  height: 40px;
  border-radius:10px;
  font-size: 16px;
  border: none;
  background-color: rgb(241, 244, 245);
  box-shadow: rgba(111, 204, 233, 0.25) 0px 8px 8px, rgba(201, 238, 241, 0.12) 0px -8px 15px, rgba(229, 228, 243, 0.12) 0px 2px 2px, rgba(62, 8, 133, 0.17) 0px 12px 13px, rgba(48, 15, 138, 0.09) 0px -3px 5px;
  font-weight: 500;
  padding-left: 20px;

}

.category h1{
  font-size: 50px;
  margin-top: 80px;
}

.category .container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
/* --------------------- */
/* Card */
/* -------------- */
.container-card {
  display: inline-block;
  width: 240px;
  text-align: center;
  margin-bottom: 100px;
}

.img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.img-container img {
    transform: skew(0deg, -13deg);
    height: 250px;
    margin: -35px 0px 0px -70px;
    
    /* object-position: center; */
}

.inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 12px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}
/* -----------end --------------- */

/* Register */


.login-container {
  width: 400px;
  margin: auto;
  margin-top: 80px;
  
}

.form {
  display: flex;
  border: 1px solid #ddd;
  flex-direction: column;
  padding: 20px;
}

p {
  margin-top: 0;
}

input {
  margin: 15px 0;
  padding: 10px;
}

.submit {
  padding: 10px;
}


/* Product Ls */
.grid-container{
  display: grid;
  padding: 20px 60px;
  grid-template-columns: [first] 30% [line2] 70%;
}

/* Filter */
.filter-card{
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius:10px ;
  height: 500px;
  margin-right: 25px;
  position: relative;
}
.filter-card h3{
  font-size: 20px;

}
.filter-card p{
  font-size: 12px;
  color: #b1aeae;
  margin-bottom: 10px;
}
.filter-card .checkInOut{
  display: flex;
  justify-content: space-evenly;
}
.filter-card  .formgroup{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.filter-card  .formgroup label{
  width: 90%;
  padding: 5px 0 0 5px;
 font-size: 10px;
 font-weight: 500;
 color: #b1aeae;
 background-color: rgb(224, 224, 224);
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}
.filter-card input{
  width: 90%;  
  margin-top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: rgb(224, 224, 224);
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
}

.filter-card .members-count{
  display: flex;
  flex-direction: column;
  padding:20px 10px;
  
}
.filter-card .member-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-card .member-group .counter{
  display: flex;
  align-items: center;
}
.filter-card .member-group .title{
  margin-bottom: 10px;
}
.filter-card .member-group > p{
  font-size: 10px;

}
.filter-card .member-group .counter i{ 
  margin-right: 5px;
  margin-left: 5px;
  font-size: 10px;
  color: #b1aeae;
  cursor: pointer;
  /* padding: 1px; */

}
.filter-card .member-group .counter p{
  display: inline;
  
  margin-left: 5px;
  margin-right: 5px;
 margin-bottom: 0px;
  font-size: 12px;
  font-weight: 600;
  color: black;
  

}

.filter-card button {
  /* position: absolute; */
  margin-top: 15px;
  margin-left: 18px;
  bottom: 20px;
  width: 80%;
  padding: 10px 20px;
  border-radius: 25px ;
  border: none;
  color: white;
  background-color: rgb(11, 88, 139);
  font-weight: 500;
 
  cursor: pointer;
}
.hotelType{
  display: flex;
  flex-direction: column;
}
.hotelType label{
  margin-top: 15px;
  font-size: 10px;
  font-weight: 500;
  color: #b1aeae;
  background-color:  rgb(224, 224, 224);
  border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 padding: 5px 0 0 5px;
 width: 90%;
 margin-left: 10px;
}
.hotelType select{
  width: 90%;
  padding: 5px 10px;
  border: none;
  background-color: rgb(224, 224, 224);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 15px;
}
/* ------------------------ */
/* ------------------------------------ */
/* Hotel List col */
/* --------------------- */
/* -------------------------- */
.hotelList-col{
  padding: 20px;
 }
 .hotelList-col .sort{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .hotelList-col .sort select{
   border: none;
   font-size: 14px;
   font-weight: 500;
   background-color:rgb(224, 224, 224);
   padding: 5px 10px;
   border-radius: 25px;
   color: rgb(124, 124, 124);
 }

.hotelList-col .sort >p {
  margin-bottom: 30px;
  font-size: 12px;
  color: #b1aeae;
}
/* Hotel ist */

.hotel-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.hotel-card img{
  height: 120px;
  width: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}
.hotel-card .details{
  margin-left:14px;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}
.hotel-card .details p{
  font-size:14px;
  font-weight:500;
  color: #b1aeae;
}


.hotel-card .details h4{
  margin-bottom:40px;
}
  .facilty-icon span{
  font-size:10px;
  padding:1px 10px;
 color:#b1aeae;
  margin-right:10px;
  border:solid 1px #c9c5c5;
  border-radius: 10px;
}

.hotel-card .room-Detail{
  font-size: 14px;
  color: blue;
  margin-right: 10px;
}
.hotel-card .room-Detail:hover{
  cursor: pointer;
  color: rgb(67, 67, 114);
}
.hotel-card Button{
  padding: 10px 20px;
  background-color: rgb(11, 88, 139);
  border: none;
  border-radius: 30px;
  color:white;
  font-weight: 500;
}
/* -------------------- */
/* HotelDetail css */
/* --------------------------- */


.hotelDetail-container{
  display: grid;
  padding: 20px 60px;
  grid-template-columns: [first] 50% [line2] 50%;
}
.hotelDetail-container .image-side{
  text-align: center;
}
.hotelDetail-container .image-side img{
 height: 500px;
 width: 80%;
 object-fit: cover;
 border-radius: 10px;
 
}
.hotelDetail-container .detail-side{
  position: relative;
}
.hotelDetail-container .detail-side .category{
  font-size: 20px;
  font-weight: 600;
  color: rgb(47, 206, 255)
}
.hotelDetail-container .detail-side .rating{
  margin-bottom: 10px;
  margin-top: 10px;
}
.hotelDetail-container .detail-side .price span{
  margin-bottom: 10px;
  font-size: 25px;
}
.hotelDetail-container .detail-side .reserve button{
  padding: 10px 20px;
  background-color: rgb(11, 88, 139);
  border: none;
  border-radius: 30px;
  color:white;
  font-weight: 500;
  width: 100%;
  position: absolute;
  bottom: 50px;
}
/* --------------- */
/* -----reservation -form */
/* ---------- */
.form{
  border:solid 1px rgb(11, 88, 139);
  border-radius: 10px;
}
.form label{
  display: block;
  height: 12px;
  font-weight: 500;
  font-size: 14px;
}
.form input{
  width: 100%;
  border:solid 1px rgb(11, 88, 139);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -5px inset, rgba(0, 0, 0, 0.3) 0px 5px 10px -5px inset;
}
button{
  cursor: pointer;
}
.form button{
  padding: 10px 20px;
  background-color: rgb(11, 88, 139);
  border: none;
  border-radius: 30px;
  color:white;
  font-weight: 500;
  width: 100%; 
  bottom: 50px;
  cursor: pointer;
}